.popupBoxEditor {
    border: solid black 1px;
    border-radius: 10px;
    position: absolute;
    top: 105%;
    left: 50%;
    width: 200px;
    margin: 0 0 0 -110px;
    padding: 10px;
    z-index: 10;
    background-color: white;
    display: none;
}

.displayPopupBoxEditor+.popupBoxEditor {
    display: block;
}

.popupBoxEditor::before { /* arrow on top */
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

.boxTextInput {
    width: 130px;
    border: none;
    border-bottom: solid black 1px;
}

.boxTextButton {
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}

.deleteBox {
    font-size: small;
    color: rgb(196, 81, 81);
    text-align: right;
    padding-top: 15px;
}

.colorPickerContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.colorPicker {
    width: 40px;
    height: 20px;
    margin: 3px;
    padding: 0;
}

.color1 {
    background-color: silver;
}
.color2 {
    background-color: #c5d5c5;
}
.color3 {
    background-color: #e0e2e4;
}
.color4 {
    background-color: #e3e0cc;
}
.color5 {
    background-color: #e4d1d1;
}
.color6 {
    background-color: #FAFAD2;
}
.color7 {
    background-color: #f3dfeb;
}
.color8 {
    background-color: #bcd7f3;
}
.color9 {
    background-color: #e1eed5;
}
.color10 {
    background-color: #FFF0F5;
}
.color11 {
    background-color: #ecf2ff;
}
.color12 {
    background-color: #ccffe6;
}