.timeline {
    position: relative;
    width: 100vw;
    border-bottom: 1px solid silver;
}

.timelineBoxContainer {
    position: absolute;
}

.timelineBox {
    margin: 3px;
    border: solid silver 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    overflow:hidden;
}