.timeline {
    position: relative;
    width: 100vw;
    border-bottom: 1px solid silver;
}

.timelineBoxContainer {
    position: absolute;
    cursor: auto;
}

.timelineBox {
    margin: 3px;
    border: solid silver 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    overflow: hidden;

}

.timelineBoxContainer:hover .timelineBox {
    min-width: fit-content;
}