.timeline {
    position: relative;
    width: 100vw;
    border-bottom: 1px solid silver;
}

.timelineBoxContainer {
    position: absolute;
    cursor: auto;
}

.timelineBox {
    margin: 3px;
    border: solid silver 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    overflow: hidden;

}

.timelineBoxContainer:hover .timelineBox {
    min-width: fit-content;
}

.resizerLeft {
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    padding:0;
    cursor: col-resize;
  }

  .resizerRight {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
    padding:0;
    cursor: col-resize;
  }