.App {
margin-top: 50px;
white-space: nowrap;
display:flex;
}

.leftColumn {
  display:inline-block;
  width: 200px;
  height:calc(100vh - 50px);
}

.timeUnitsName {
  height: 40px;
  line-height: 40px;
  width: 200px;
  text-align: center;
  border-bottom: solid black 1px;
  font-size: 20px;
}
.timeUnitsName span {
  cursor: pointer;
}

.timelinesArea {
  position: absolute;
  left:200px;
  width: calc(100vw - 220px);
  min-height: calc(100vh - 50px);
  white-space: nowrap;
  overflow-x: scroll;
  border-left: solid black 1px;
  cursor: crosshair;
}

button.addTimeUnit {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 3px 7px;
  border: none;
  border-radius: 10px;
}